body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}

.institution {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    width: 300px;
}

.institution img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.institution h2 {
    margin-top: 1rem;
    color: white;
}

.institution p {
    color: #ccc;
}
