body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #FF0000;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}

.car {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    width: 300px;
}

.car img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.car h2 {
    margin-top: 1rem;
    color: #FF0000;
}

.car p {
    color: #555;
}
